<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="info" monitorInterval="30">
	
	<Properties>
		<Property name="APP_LOG_ROOT">C:/Users/ruben/Desktop</Property>
	</Properties>

    <Appenders>
        <File name="LogToFile" fileName="${APP_LOG_ROOT}/application-${date:yyyyMMdd}.log">
            <PatternLayout>
                <Pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="com.mkyong" level="trace" additivity="false">
            <AppenderRef ref="LogToFile"/>
        </Logger>
        <Root level="trace">
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
</Configuration>