<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>project0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.revature.guitarstore.servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.revature.guitarstore.servlets.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogout</display-name>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>com.revature.guitarstore.servlets.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/userlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.revature.guitarstore.servlets.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserByIdServlet</display-name>
    <servlet-name>UserByIdServlet</servlet-name>
    <servlet-class>com.revature.guitarstore.servlets.UserByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserByIdServlet</servlet-name>
    <url-pattern>/user/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpSignIn</display-name>
    <servlet-name>SignUpSignIn</servlet-name>
    <servlet-class>com.revature.guitarstore.servlets.SignUpSignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpSignIn</servlet-name>
    <url-pattern>/sign/up</url-pattern>
    <url-pattern>/sign/in</url-pattern>
    <url-pattern>/sign/out</url-pattern>
  </servlet-mapping>
</web-app>